apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: api-gateway
  namespace: media-gateway
  labels:
    app: api-gateway
    app.kubernetes.io/name: api-gateway
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: api-gateway
